@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../public/fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "PT RootUI";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../public/fonts/PTRootUI/pt-root-ui_bold-BF641923b65e481.ttf") format("truetype");
  }
}
